.gridContainer {
    grid-gap: 0.16rem;
    grid-template-columns: 6.7rem 6.7rem;

    .gridItem {
        height: 4.48rem;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .title{
            
        }
        .viceTitle{
            // display: block;
            // font-size: 0.6rem;
            // padding-top: 152px;
        }
        .text{
            white-space: pre-wrap;
            b{
                font-size: 0.8rem !important;
            }
        }
        div {
            font-size: .8rem;
            // text-align: center;
            line-height: 1.2;
        
            font-family: MiSans-ExtraLight, MiSans;
            font-weight: 200;
            color: #FFFFFF;
            background: linear-gradient(90deg, #E9C580, #A47A40 60% 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}