@size: 100%;

.footerContainer {
  height: 500px;
  background-color: #000;
  display: flex;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 32px;
  .footerLoge{
    margin-right: 77px;
  }
  .footerCompany{
    // margin-right: 50px;
    font-size: 24px;
    font-family: MiSans-ExtraLight, MiSans;
    font-weight: 200;
    color: #FFFFFF;
    line-height: 42px;
  }
  .footerList{
    margin-bottom: 64px;
    span{
      position: relative;
      font-size: 18px;
      z-index: 10;
      display: inline-block;
      margin-right: 50px;
      cursor: pointer;
    }
  }
}