.container {
    width: 100%;
    height: 100%;
    margin-top: 80px;

    .line:nth-child(1) {
        background: #b58c4e;
    }

    .line {
        display: inline-block;
        width: 30px;
        height: 3px;
        background: #767676;
        margin-right: 8px;
        animation: 'zoomIn';
        animation-duration: 3s;
    }

    .box {
        height: 500px;
        background: #b3b3b3;
        display: flex;
        flex-direction: column-reverse;
        padding-left: 30px;

        .enNames {
            font-size: 46px;
            font-weight: bold;
            background-image: -webkit-linear-gradient(#5b5b5b, #8a8a8b, #b3b3b3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-right: 30px;
            animation: 'zoomInDown';
            animation-duration: 3s;
        }

        .details {
            color: #a58553;
            cursor: pointer;
            animation: 'zoomInDown';
            animation-duration: 3s;
        }

        .name {
            font-size: 26px;
            color: #a18f72;
            animation: 'bounceInDown';
            animation-duration: 1s;
        }
    }
}