.titltTextContainer {
    text-align: center;
    // position: relative;
    z-index: 8;

    .titltText {
        font-size: 68px;
        line-height: 68px;
        margin-bottom: 24px;
        font-family: MiSans-Bold, MiSans;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(180deg, #A47A40, #E9C580);
        will-change: transform;
        padding-top: 0.5px;
        overflow: hidden;
        background-color: #2e1f7c;
    }

    .viceTitle {
        letter-spacing: 20px;
        font-size: 34px;
        font-weight: 100;
        margin-bottom: 34px;
        color: #fff;
        font-family: MiSans-Thin, MiSans;
    }

    .mark {
        display: inline-block;
        width: 63px;
        height: 6px;
        border-radius: 3px;
        background-color: #fff;
        margin-bottom: 64px;
    }

    .viceText {
        font-size: 24px;
        font-family: MiSans-Light, MiSans;
        font-weight: 300;
        color: #FFFFFF;
        line-height: 63px;
        white-space: pre-wrap;
    }
}