.aboutUsContContainer{
    background-color: #0F0F0F;
    section{
        width: 100%;
        // height: 956px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .culture{
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
        line-height: 1.48rem;
        font-size: 148px;
        font-weight: 700;
        text-align: center;
        color:#000;
        -webkit-text-stroke:3px transparent;
        background:linear-gradient(180deg,#DFBA77, #000 70% 100%);
        -webkit-background-clip: text;
        background-clip: text;
        font-family: MiSans-Bold, MiSans;
    }
    .cultureContainer{
        // position: fixed;
        // opacity: 0;
    }
    .aboutScroll{
        // transform: matrix(1,0,0,1,0,0);
        
    }

    .aboutList{
        
        padding: 0 200px;
        .aboutItem{
            margin-right: 68px;
            margin-bottom: 40px;
            border-radius: 10px;
            min-width: 100px;
            height: 100px;
            background-color: #ccc;
        }
    }
}